* {
  box-sizing: border-box;
}
.snakeBoard {
  position: relative;
  bottom: 250px;
}
.board {
  display: grid;
  grid-template-rows: repeat(20, 1fr); /* 20 rows */
  grid-template-columns: repeat(20, 1fr); /* 20 columns */
  width: 400px;
  height: 400px;
  border: 2px solid #333; /* Optional: Add a border around the board */
}

.cell {
  width: 20px; /* Cell width */
  height: 20px; /* Cell height */
  background-color: rgb(179, 170, 170); /* Cell background color */
  border: 1px solid #1d1b1b; /* Optional: Add cell borders for visibility */
}
.snake {
  background-color: green;
}
.food {
  background-color: yellow;
}
