.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  width: 900px; /* Container width to demonstrate wrapping */
  height: 100%; /* Container width to demonstrate wrapping */
  padding: 10px;
  height: 700px;
  background-color: rgb(238, 228, 248);
  margin-top: 100px;
}

.cardItem button {
  background-color: rgb(182, 157, 157);
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: transform 0.5s ease;
  height: 100%; /* Fixed height for grid items */
  width: 200px;
  margin-left: 20px;
}
.cardItem button:hover {
  background-color: rgb(201, 140, 140);
}
.cardFlipped {
  transform: rotateY(180deg);
  color: black;
}
.cardContent img {
  width: 200px;
  height: 200px;
}
.startButton {
  margin-left: 20px;
  position: fixed;
  top: 150px;
  left: 600px;
  width: 300px;
  height: 50px;
}
